.header {
  display:flex;
  padding: 15px 20px;
  justify-content: space-between;
  position:sticky;
  background-color:white;
  z-index: 100;
  top:0;
  box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
}

.header__left {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.header__left > img {
  height: 40px;
}
.header__input {
  align-items:center;
  margin-left: 10px;
  padding-left: 5px;
  display:flex;
  background-color: rgb(231, 230, 230);
  border-radius: 15px;
}
.header__input > input {
  background-color: transparent;
  border:none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.header__middle {
  display:flex;
  
}
.header_option > .MuiSvgIcon-root {
  color: gray;
} 
.header_option:hover > .MuiSvgIcon-root {
  color: #2e81f4;
  border-bottom: none;
} 
.header_option--active > .MuiSvgIcon-root {
  color: #2e81f4;
}  
.header_option--active {
  border-bottom: 4px solid #2e81f4;
}
.header_option {
  display:flex;
  align-items: center;
  cursor: pointer;
  padding: 0px 30px;
} 
.header_option:hover {
  background-color: rgb(233, 233, 233);
  align-items: center;
  border-bottom: none;
  border-radius: 10px;
  padding: 0px 30px;
} 

.header__right {
  display:flex;
}
.header_info {
  display: flex;
  align-items: center;
}
.header_info > h4 {
  margin-left:10px;
}